* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrap {
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
  width: 90%;

  @include mq(desktop) {
    width: 60%;

  }
}

.header {
  h2 {
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
  }

  ::after {
    content: '';
    display: block;
    width: 95px;
    border-top: 4px solid currentColor;
    margin: 24px auto 0 auto;
  }

}

.header1 {
  h2 {
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
  }

  p{
    text-align: center;

  }

}

.hr{
    content: '';
    display: block;
    width: 95px;
    border-top: 4px solid currentColor;
    margin: 24px auto 0 auto;
}


.circle {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  content: '';
  background-color: #cccccc;
  position: absolute;
  margin-top: 15px;
  left: calc(50% - 24.5px);

  @include mq(tablet) {
  }

  @include mq(desktop) {
    margin-top: 55px;
  }

  .icon-arrow-down {
    position: absolute;
    margin-top: 10px;
    left: 19%;
    font-size: 30px;
    font-weight: 800;
  }
}


